.title-gallery {
    margin-left: 5%;
    margin-top: 1%;
}

.gallery-image-style {
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
    border-radius: 15%;
    margin: 10px;
}

#myModal label {
    color: gray;
    margin-left: 5%;
}

